<my-sidebar></my-sidebar>
      
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="main-content"  style="background-color: #f1f0f0;" >

<main class="col-md-2 ms-sm-auto col-lg-10 px-md-6"  >

  <section  class="row d-flex justify-content-center align-items-center ">
    <div class="col col-xl-10 mt-4" >
<div id="contact" class="contact-area section-padding">
	<div class="container mb-0  bg-white p-4 shadow-sm">									
    <br>	
		<div class="section-title text-center">
			<h2>SEND SMS</h2>
		</div>					
    <div class="row mt-4">
      <div class="col-md-12">
				<div class="contact ">
					<form [formGroup]="form">
						<div class="row">
							<div class="form-group col-md-12 mb-2">
								<input type="text" name="title" class="form-control" formControlName="sender" placeholder="sender" required="required">
							</div>
							<div class="form-group col-md-12 mb-2 ">
								<button name="mobile" class="form-control " placeholder="Mobile" formControlName="myMobile" required="required"  (click)="openModal(template)" >
									Mobile
								</button>
								<ng-template #template>
									<div class="modal-header" >
									<h4 class="modal-title" id="modal-basic-title">  Mobile </h4>
										<button type="button" class="close" (click)="close()">&times;</button>
									
									</div>
									<div class="modal-body">
										<div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm" >
											<table class="table manage-candidates-top mb-0">
												<thead class="thead">
													<tr>
													<th>Mobile</th>
													<th class="text-center">Number Of SMS</th>
													<th class="action text-right">Service </th>
													</tr>
												</thead>
								
												<tbody >
													<tr class="candidates-list" *ngFor="let user of "> 
														<td class="title">
															
															<div class="candidate-list-details">
															<div class="candidate-list-info">
																<div class="candidate-list-title">
																	<a class="candidate-list-favourite order-2 text-danger" ></a>
																	<span class="candidate-list-time order-1">{{user}}</span>
																</div>
																<div class="candidate-list-option">
																<ul class="list-unstyled">
																	<li><i class="fas fa-envelope "></i>{{user}}</li>
																	<li><i class="fas fa-map-marker-alt pr-1"></i>{{user}}</li>
																</ul>
																</div>
															</div>
															</div>
														</td>
								
													</tr>
													
												</tbody>
												</table>
										</div>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-outline-primary bg-primary text-white">Confirm</button>
									<button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>


									</div>
								</ng-template>

							</div>
							<div class="form-group col-md-12 mb-2 ">
								<input type="datetime-local" name="date" class="form-control" placeholder="Date" formControlName="myDate"required="required" >
							</div>
							<div class="form-group col-md-12 mb-2 ">
								<textarea rows="6" name="content" class="form-control" placeholder="Your Message" formControlName="mySms"required="required"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-contact-bg" title="Submit Your Message!" (click)="send_sms()"> <i class="fa fa-paper-plane" ></i>
									Send Message</button>
							</div>
						</div>
					</form>
				</div>
			
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->	
</div>
</div>
    </div>
  </section>
</main>
