<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<header class="bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-lg-end">
      <div class="dropdown text-end">
        <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{image}}" alt="picture" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li>
            <a class="dropdown-item" (click)="onclick()">
              <i class="fa fa-user"></i>
              Profile
            </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out"></i>
              Sign out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>




<div class="main-head bg-dark" >

      <nav class="head-nav">
        <ul class="menu">
            <div class="userFoto mb-2" >
            <img src="/assets/cb.png" class="rounded-circle" />
          
          </div>
          <li>
            <a class="nav-link active" href="http://localhost:4200/acceuil">
              <i class="fas fa-tachometer-alt fa-fw me-3"></i>
              <span>Dashboard</span></a>
          </li>
          <li>
            <a class="nav-link" [href]="verif === 0 ? null : 'http://localhost:4200/listuser'" [class.disabled]="verif === 0">
              <i class="fas fa-user-circle fa-fw me-3"></i>
              <span >
              <div style="color: grey;" *ngIf="verif === 0">
                Users
                <i class="fa fa-eye-slash fa-fw me-3"></i>
              </div>
              <div *ngIf="verif !== 0">Users</div>
              </span>
            </a>
          </li>
          <li>
            <a class="nav-link active" href="http://localhost:4200/jeux">
              <i class="fas fa-gamepad fa-fw me-3"></i>
              <span>Services</span></a>
          </li>
          <li>
            <a class="nav-link active" href="http://localhost:4200/table">
              <i class="fas fa-users fa-fw me-3"></i>
              <span>Players</span></a>
          </li>
          <li>
            <a class="nav-link" href="http://localhost:4200/outbox">
              <i class="fas fa-table fa-fw me-3"></i>
              <span>Outbox</span></a>
          </li>
          
          <li>
            <a class="nav-link" href="http://localhost:4200/sms">
              <i class="fas fa-paper-plane fa-fw me-3"></i> 
              <span>Send SMS</span></a>
          </li>
         
        </ul>
      </nav>
</div>
<div class="wrap-all-the-things"style="background-color: #f1f0f0; min-height: 100vh;">
</div>
