<my-sidebar></my-sidebar>
<div class="main-content"  style="background-color: #f1f0f0;" >
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" >
    <h1> <i class="fas fa-chart-area fa-fw me-3"></i>Statistics</h1>
    <div id="wrapper">
      <div class="content-area">
        <div class="container-fluid">
          <!----------------------------------------------------------------->
          <div class="card h-100 mb-4 shadow ">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <canvas style="min-height: 300px;"  id="MyChartt" >{{ chartline }}</canvas>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
          <div class="card h-100 mb-4 shadow">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <canvas  style="min-height: 300px;" id="MyCharttt" >{{ chartline }}</canvas>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
          <div class="card h-100 mb-4 shadow">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
                <table class="table  " >
                      <thead>
                        <tr >
                          <th scope="col">Id_service</th>
                          <th scope="col">Services</th>
                          <th scope="col"> PLAYERS </th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let service of services;let index = index  ">
                            <th scope="row"> {{index}}</th>
                            
                            <td>{{service.libelle}}</td>
                            <td>{{service.number_gamers}}</td>
                          
                        </tr>
                      </tbody>
                    </table>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
          <div class="card h-100 mb-4 shadow">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
                <canvas  id="MyChart" >{{ chart }}</canvas>
              </div>
              <div class="card-footer text-muted">
                2 days ago
              </div>
          </div>
  
      
      </div>
      </div>
    </div>
      </main>
</div>




