<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://assets.website-files.com/617b1b1f42c1da41aeae3413/61fc150653b13b250a15d003_password-resets.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form [formGroup]="form" >
                <div class=" d-flex align-items-center justify-content-center">    
                <img src ="/assets/cb.png" >
          </div>
          <div class="form-outline  mt-4 text-center" style="color:rgb(152, 158, 163)" >
            <h4>Reset Password</h4>
          </div>
            <!-- Code input -->
            <div class="form-outline mb-2 mt-2">
              <label>Mobile</label>
                <input type="password" formControlName="mobile" placeholder="Enter your number" class="form-control form-control-lg" style="border-radius: 15px;" />
               
              </div>
            <div class="form-outline mb-2 mt-2 ">
              <label>New Password</label>
              <input type="password" formControlName="newpassword" placeholder="Enter new password" class="form-control form-control-lg" style="border-radius: 15px;" />
             
            </div>
            <div class="form-outline mb-2 mt-2 ">
              <label>Verify New Password</label>
              <input type="password" formControlName="confirmnewpassword" placeholder="confirm new password " class="form-control form-control-lg" style="border-radius: 15px;" />
             
            </div>
  
            <div class=" d-flex align-items-center justify-content-center mt-4 ">    
                <button  type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"(click)="resetpassword()">Reset Password</button>
            </div>         
          </form>
        </div>
      </div>
    </div>
</section>