<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://us.123rf.com/450wm/bilahstudio/bilahstudio2103/bilahstudio210301065/166363678-modern-style-vector-illustration-remember-people-character-password-with-security-code-sign-lock.jpg?ver=6"
          class="img-fluid" alt="Sample image">
      </div>



      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form >
          <div class=" d-flex align-items-center justify-content-center">    
              <img src ="/assets/cb.png" >
        </div>

          <!-- Email input -->
          <div class="form-outline mb-4 mt-3 ">
            <input type="email" formControlName="email" placeholder="Enter a valid mail" class="form-control form-control-lg" style="border-radius: 15px;
            "[ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors">Email is required</div>
            </div>
            <label class="form-label" for="form3Example3">Email address</label>
          </div>
          <!-- input numero -->
          <div class="form-outline mb-4 mt-3 ">
            <input type="text" formControlName="Code" placeholder="Enter your code" class="form-control form-control-lg" style="border-radius: 15px;" />
            <div *ngIf="submitted && f['code'].errors" class="invalid-feedback">
              <div *ngIf="f['Code'].errors">Code is required</div>
            </div>
            <label class="form-label" for="form3Example3">Code</label>
          </div>

  

          <div class=" d-flex align-items-center justify-content-center mt-4 ">    
              <button  type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem; margin-right: 20px;">Confirm</button>
              <button  type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Send Code</button>
          </div>
          

        </form>
      </div>
    </div>
  </div>
  
  
</section>